<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="summit-event-data">
  <script>
    Polymer({
      is: 'summit-event-data',


      // ----------------------
      properties: {
          eventData: {
            type: Object,
            notify: true
          },
          failure: {
            type: Boolean,
            notify: true,
            readOnly: true
          }
      },

      ready: function () {
        this._initEventData();
      },

      // ----------------------------------------

      _initEventData: function() {
        // Fetch the event data. Note that the fetch is asynchronous,
        // which means data may not be set initially (but that path
        // will be notified when the fetch completes).
        this._fetchEventData(3);
        return {};
      },

      _fetchEventData: function(attempts) {
        this._setFailure(false);
        this._getResource({
          url: '/data/events.json',
          onLoad: function(e) {
            this.set('eventData', JSON.parse(e.target.responseText));
          },
          onError: function(e) {
            this._setFailure(true);
          }
        }, attempts);
      },

      _getResource: function(rq, attempts) {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', rq.onLoad.bind(this));
        xhr.addEventListener('error', function(e) {
          // Flaky connections might fail fetching resources
          if (attempts > 1) {
            this.debounce('_getResource', this._getResource.bind(this, rq, attempts - 1), 200);
          } else {
            rq.onError.call(this, e);
          }
        }.bind(this));
        xhr.open('GET', rq.url);
        xhr.send();
      }

    });
  </script>
</dom-module>
