<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-profile">
  <template>
    <style>
    </style>
  </template>

  <script>
    Polymer({
      is: 'user-profile',
      properties: {
        currentProfile: {
          type: Object,
          notify: true,
        },
        profileWatch: {
          computed: '_watchProfile(currentProfile)',
          observe: '_observeProfile(currentProfile)',
        }
      },

      updateProfile: function(profileOvelay){
        this.set('currentProfile', Object.assign({}, this.currentProfile, profileOvelay));
      },

      _watchProfile: function(currentProfile){
        console.log('User profile changed, new:');
        console.dir(currentProfile);
      },

    });
  </script>
</dom-module>
